doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="http://unpkg.com/mvp.css")
    body
        header
            nav 
                ul 
                    li
                        a(href="/vidoes/upload") Upload Video
                    li
                        a(href="/") Home
                    li 
                        a(href="/search") Search
            h1=pageTitle    // -> #{pageTitle}과 같음
        main
            block content
    include partials/footer.pug