doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet",href="http://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        header
            nav 
                ul 
                    li
                        a(href="/") Home
                    if loggedIn
                        li 
                            a(href="/vidoes/upload") Upload Video
                        li
                            a(href=`/users/${loggedInUser._id}`) My Profile                        
                        li 
                            a(href="/users/edit") Edit Profile
                        li
                            a(href="/users/logout") Log Out
                    else
                        li
                            a(href="/join") Join
                        li
                            a(href="/login") Login    
                    li 
                        a(href="/search") Search
                    
            h1=pageTitle    // -> #{pageTitle}과 같음
        main
            block content
    include partials/footer.pug
    script(src="/static/js/main.js") 