doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="http://unpkg.com/mvp.css")
    body 
        block content
    include partials/footer.pug